# Dependencies
anime/node_modules/
manga/node_modules/
docs/node_modules/
unified/node_modules/

# Git
.git/
.gitignore

# Editor
.venv/
.qwen/
.qwenignore
.vscode/
.md/
.idea/
learning/
.codex 
# OS
.DS_Store
Thumbs.db

# Build output
docs/dist/

# Examples
next exemple/

# Misc
*.md
LICENSE

package-lock.json

.codex
test*

!README.md
