# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
.codex

learning/

# Build output
dist/
build/
.venv
.qwen
.qwenignore


*test*
.md/
*.md
!README.md